<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalhes do Perfil</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="navbar :: navbar"></div>
    <div class="container">
        <h1 class="my-4">Detalhes do Perfil</h1>
        <div class="form-group">
            <label class="font-weight-bold">Tipo:</label>
            <p class="form-control-plaintext" th:text="${perfil.tipo}">Tipo</p>
        </div>
        <a href="/perfis" class="btn btn-secondary">Voltar</a>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
